name: sync
on:
  schedule:
    - cron: "00 23 * * 5"
  watch:
      types: started
jobs:
  build:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: Checkout out project files
        uses: actions/checkout@v4

      - name: Build geosite
        run: |
          cn_url="https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/direct-list.txt"
          ad_url="https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/reject-list.txt"
          proxy_url="https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/proxy-list.txt"
          private_url="https://raw.githubusercontent.com/Loyalsoldier/domain-list-custom/release/private.txt"
          mkdir domain_data
          curl -sSL $cn_url > direct1
          curl -sSL $ad_url > domain_data/category-ads-all
          curl -sSL $proxy_url > domain_data/gfw
          curl -sSL $private_url > domain_data/private
          awk '{print$0}' direct1 direct.txt > domain_data/cn
          sed -i 's/^cn.bing.com$/bing.com/g' domain_data/cn
          sed -i 's/^cn.bing.net$/bing.net/g' domain_data/cn
          ./tools/geofile_maker -sha256sum -mode geosite
          ./tools/sing-box-geosite -src_path ./publish/geosite.dat -dst_path ./publish/geosite.db
          sha256sum ./publish/geosite.db > ./publish/geosite.db.sha256sum

      - name: Build geoip
        run: |
          mkdir ip_data
          curl -sSL https://raw.githubusercontent.com/gaoyifan/china-operator-ip/ip-lists/china.txt > ip_data/cn.txt
          ./tools/geofile_maker -sha256sum -mode geoip
          ./tools/sing-box-geoip -s ./ip_data/cn.txt -d ./publish/geoip.db
          sha256sum ./publish/geoip.db > ./publish/geoip.db.sha256sum

      - name: Git push assets to "release" branch
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin release

      - name: Release and upload assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.TAG_NAME }}
          file_glob: true
          file: ./publish/*

      - name: Clean-up releases
        uses: dev-drprasad/delete-older-releases@v0.2.1
        with:
          keep_latest: 7
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
